<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title | default("HEC Experience India") }}</title>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
